@using FirstMVCApplication.Models
@model RandomNumberViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RandomNumberDemo</title>
</head>
<body>
<div>
    <h1>Random number demo</h1>
    <h1>Random number - @Model.Number </h1>
    <h1>Random string - @Model.RandomString</h1>
</div>
</body>
</html>
